# Logs
logs
*.log
npm-debug.log*
yarn-error.log

# Runtime data
pids
*.pid
*.seed

# Dependency directory
node_modules
.yarn-cache

# Optional npm cache directory
.npm

# Auth
.netrc

# IDE cache directory
.idea

# MacOS temporary files
.DS_Store

# Local data
.data

# build files
build
dist
.next
