@torinasakura:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=ghs_M1zHD5xr7sojWWBym6dcItCsAIhMNZ2qC3xH
@torinasakura:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=ghs_jzCd31ePmFhBD0eF0nndKiF2pp9Y0l4K3b70
@torinasakura:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=ghs_CZgzijdT7QwSgBcpZhfdbmP7D9Kv5e1zNePa
