@torinasakura:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=ghs_M1zHD5xr7sojWWBym6dcItCsAIhMNZ2qC3xH
@torinasakura:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=ghs_jzCd31ePmFhBD0eF0nndKiF2pp9Y0l4K3b70
@torinasakura:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=ghs_CZgzijdT7QwSgBcpZhfdbmP7D9Kv5e1zNePa
@torinasakura:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=ghs_acL4MBwPL6z6B9NZ1EAs8FNb6CYHaR32179R
@torinasakura:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=ghs_2PPXl1akeXIyyDS44cctP1dBsndwUt2Vxljk
@torinasakura:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=ghs_dDw6l2v22Q5BAApsC6rz6iSuZc20RH1GRtv7
